<div class="row">
  <div id="login" class="col s6 offset-s3">

    {{#if error}}
      <p class="card-panel red lighten-1 white-text center-align">{{error}}</p>
    {{/if}}

    <h1>Новый пароль</h1>
    <form action="/auth/password" method="post">
      <div class="input-field">
        <input id="password" type="password" name="password" class="validate" required>
        <label for="password">Новый пароль</label>
        <span class="helper-text" data-error="Введите пароль"></span>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="token" value="{{token}}">

      <button type="submit" class="btn btn-primary">Обновить пароль</button>
    </form>
  </div>
</div>

